{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Here's all the farmers markets {% endblock %}</h1>
    {% for market in markets %}
        <a href="#">
            <h2>{{ market['name' ]}}</h2>
        </a>
        <span class="badge badge-primary">({{ market['latitude'] }}, {{ market['longitude']}})</span>
        <a href="{{ url_for('edit', id=market['id']) }}">
            <span class="badge badge-warning">Edit</span>
        </a>
        <hr>
    {% endfor %}
{% endblock %}
